.App {
  text-align: center;
}

.navbar {
  height: 70px;
  position: fixed;
}

.navbar-brand {
  font-weight: 700;
}

.main-bg {
  height: 400px;
  background-image: url('./shoes.png');
  background-size: cover;
  background-position: center;
}

.home, .detail {
  padding: 16px;
  color: #000;
  text-decoration: none;
}